* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-color: white;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 2.4rem 9.9rem;
  max-width: 37.5rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__heading {
  color: #502050;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -1.14px;
}

.content__paragraph {
  color: #937b92;
  margin: 1.8rem 0 4rem;
  line-height: 2.5rem;
  letter-spacing: -0.5px;
}

.content__rating {
  margin-bottom: 4.9rem;
}

.rating__item {
  background: #f7f2f7;
  border-radius: 0.8rem;
  padding: 1.6rem 6.1rem;
}

.rating__item + .rating__item {
  margin-top: 1.6rem;
}

.rating__stars + .rating__stars {
  margin-left: 0.845rem;
}

.rating__text {
  color: #502050;
  font-weight: 700;
  margin-top: 1.6rem;
  font-size: 1.3rem;
  line-height: 1.4rem;
}

.testimony__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.testimony__heading {
  font-size: 1.3rem;
  line-height: 1.456rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.testimony__image {
  border-radius: 50%;
  margin-right: 2rem;
  width: 40px;
}

.testimony__item + .testimony__item {
  margin-top: 2rem;
}

.testimony__item {
  background: #502050;
  border-radius: 0.8rem;
  color: white;
  max-width: 34rem;
  text-align: left;
  padding: 4rem 3.2rem 3.2rem;
}

.testimony__text {
  line-height: 2.2rem;
  margin-top: 2.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.23px;
}

.testimony__verified {
  font-size: 1.3rem;
  color: #ee68a4;
  font-weight: 400;
}

@media (min-width: 1000px) {
  .main {
    max-width: 144.7rem;
    margin: auto;
  }
  .content, .testimony {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content__heading {
    font-size: 5rem;
    line-height: 5rem;
  }
  .content__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
  }
  .content__text {
    line-height: 2.5rem;
    text-align: left;
    max-width: 35%;
  }
  .rating {
    /*         &__item:nth-child(2) {
            margin-left: 15%;
        }

        &__item:nth-child(3) {
            margin-left: 30%;
        } */
  }
  .rating__image {
    margin-right: 2rem;
  }
  .rating__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2rem 3rem;
    max-width: 100%;
  }
  .rating__item:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .rating__item:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .rating__text {
    margin-top: 0;
  }
  .testimony {
    height: 32rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    max-width: 144.7rem;
  }
  .testimony__item + .testimony__item {
    margin-top: 0rem;
    margin-left: 2rem;
  }
  .testimony__item {
    max-width: 100%;
    padding: 5rem 3rem;
  }
  .testimony__item:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .testimony__item:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=styles.css.map */