//Colors

$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

//ui

$color-header-h1:$Very-Dark-Magenta;
$color-text-content:$Dark-Grayish-Magenta;
$color-text-verified:$Soft-Pink;
$color-text-testimony:$White;
$background-accent:$Very-Dark-Magenta;
$background-soft:$Light-Grayish-Magenta;

